@model SmartBuildingClient.Models.TemperatureReadingViewModel

@{
    ViewBag.Title = "Employee";
}
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="body">
                

                <div>
                    <div class="d-flex justify-content-center p-2">
                        @*<img src="~/css/Smart-building-and-its-components.png">*@
                       <img src=~/css/Smart-building-and-its-components.png  class="rounded" />
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div1