@model SmartBuildingClient.Models.TemperatureReadingViewModel
@{ViewBag.Title = "Employee";}
<div class="row">
    <div class = "col-md-12 grid-margin">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-md-12  table-responsive-md pr-5 p-5">
                       <h2 class="">Get Temperature Reading</h2>
                       <hr />
                        <form asp-controller="Home" asp-action="Search" method="post">
                            <input type="text" asp-for="Location" placeholder="Enter Room Name..."  class="form-control"/><br />

                            <button type="submit" class="btn btn-primary btn-lg">Get Temperature</button>
                        </form>

                         <hr />

                        @if (Model.Temperature != null )
                            {

                                <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Current Room Temperature</th>
                                     <th>Location</th>
                                     <th>Date</th>
                                </tr>
                            </thead>

                        
                             <tbody class="text-primary">
                                      
                                    <tr>
                                        <td>@Model.Temperature</td>
                                        <td>@Model.Location</td>
                                        <td>@Model.DateAndTime</td>
                                    </tr>
                                     

                            </tbody>
                        </table>
                                
                            }
                            else
                            {
                                <p>No results found.</p>
                            }

             
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>